<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MinesweeperXStatsViewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MinesweeperXStatsViewer.Properties.Settings>
            <setting name="January" serializeAs="String">
                <value>sty</value>
            </setting>
            <setting name="February" serializeAs="String">
                <value>lut</value>
            </setting>
            <setting name="March" serializeAs="String">
                <value>mar</value>
            </setting>
            <setting name="April" serializeAs="String">
                <value>kwi</value>
            </setting>
            <setting name="May" serializeAs="String">
                <value>maj</value>
            </setting>
            <setting name="June" serializeAs="String">
                <value>cze</value>
            </setting>
            <setting name="July" serializeAs="String">
                <value>lip</value>
            </setting>
            <setting name="August" serializeAs="String">
                <value>sie</value>
            </setting>
            <setting name="September" serializeAs="String">
                <value>wrz</value>
            </setting>
            <setting name="October" serializeAs="String">
                <value>paź</value>
            </setting>
            <setting name="November" serializeAs="String">
                <value>lis</value>
            </setting>
            <setting name="December" serializeAs="String">
                <value>gru</value>
            </setting>
        </MinesweeperXStatsViewer.Properties.Settings>
    </userSettings>
</configuration>